    {% include scripts.html %}
    <footer class="background-accent">
      <div class="copyright {{ page.class_copyright }}">
        <div class="container-fluid">
          <div class="panel panel-default no-background no-border no-shadow no-margin">
            <div class="panel-body">
              <div class="text-right text-md-center">
                <div id="google_translate_element"/>
              </div>
            </div>
          </div>
          <div class="panel panel-default no-background no-border no-shadow no-margin">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="text-left text-md-center">
                    <small>
                      All rights reserved &copy; <span class="copyright-date"></span> -
                        <a href="{{ site.baseurl }}">{{ site.brand.name }}</a>
                    </small>
                  </div><!-- .text-left .text-md-center -->
                </div><!-- .col-md-6 -->
                <div class="col-md-6">
                  <div class="text-right text-md-center">
                    <small>
                      Proudly powered by <a class="text-uppercase" href="http://syiree.com" target="_blank">Syiree</a>
                    </small>
                  </div><!-- .text-right -->
                </div><!-- .col-md-6 -->
              </div><!-- .row -->
            </div><!-- .panel-body -->
          </div><!-- .panel -->
        </div><!-- .container-fluid -->
      </div><!-- .copyright -->
    </footer>
  </body>
</html>
