<div class="modal modal-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header no-border">
        <button
          class="close"
          data-dismiss="modal">
          <i class="fa fa-fw fa-close"></i>
        </button>
      </div><!-- .modal-header -->
      <div class="modal-body no-padding">
        <div class="text-center">
          <img class="modal-info-icon img-responsive center-block" width="128">
          <h3 class="modal-info-head font-light text-uppercase">
          </h3><!-- .modal-info-heading -->
          <small class="modal-info-body">
          </small><!-- .modal-info-content -->
        </div><!-- .text-center -->
      </div><!-- .modal-body -->
      <div class="modal-footer no-border">
      </div><!-- .modal-footer -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
