.navbar-default {
  background-color: $color-accent;
  border-color: $color-accent-darkest;
}
.navbar-default .navbar-brand {
  color: $color-primary;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $color-primary-darkest;
}
.navbar-default .navbar-text {
  color: $color-primary;
}
.navbar-default .navbar-nav > li > a {
  color: $color-primary;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $color-primary-darkest;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: $color-accent;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: $color-primary;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: $color-primary-darkest;
  background-color: $color-accent-darkest;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: $color-accent-darkest;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: $color-primary-darkest;
  background-color: $color-accent-darkest;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $color-primary-darkest;
  background-color: $color-accent-darkest;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: $color-primary-darkest;
  background-color: $color-accent-darkest;
}
.navbar-default .navbar-toggle {
  border-color: $color-accent-darkest;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $color-accent-darkest;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $color-primary;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: $color-primary;
}
.navbar-default .navbar-link {
  color: $color-primary;
}
.navbar-default .navbar-link:hover {
  color: $color-primary-darkest;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $color-primary;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $color-primary-darkest;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $color-primary-darkest;
    background-color: $color-accent-darkest;
  }
}
